<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourth.medical.medical.mapper.NotificationMapper">

    <select id="getNotificationById" resultType="com.fourth.medical.medical.vo.NotificationVo">
        select *
        from notification
        where id = #{id}
    </select>

    <select id="getNotificationPage" parameterType="com.fourth.medical.medical.query.NotificationQuery"
            resultType="com.fourth.medical.medical.vo.NotificationVo">
        select *
        from notification
        <where>
        </where>
    </select>

    <select id="getAppNotificationById" resultType="com.fourth.medical.medical.vo.AppNotificationVo">
        select *
        from notification
        where id = #{id}
    </select>

    <select id="getAppNotificationPage" parameterType="com.fourth.medical.medical.query.AppNotificationQuery"
            resultType="com.fourth.medical.medical.vo.AppNotificationVo">
        select *
        from notification
        <where>
        </where>
    </select>

</mapper>
