<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourth.medical.medical.mapper.ReportMapper">

    <select id="getReportById" resultType="com.fourth.medical.medical.vo.ReportVo">
        select *
        from report
        where id = #{id}
    </select>

    <select id="getReportPage" resultType="com.fourth.medical.medical.vo.ReportVo">
        select *
        from report
        <where>
            <if test="query != null and query.userId != null">
                and user_id = #{query.userId}
            </if>
            <if test="query != null and query.orderId != null">
                and order_id = #{query.orderId}
            </if>
            <if test="query != null and query.status != null">
                and status = #{query.status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getAppReportById" resultType="com.fourth.medical.medical.vo.AppReportVo">
        select *
        from report
        where id = #{id}
    </select>

    <select id="getAppReportPage" resultType="com.fourth.medical.medical.vo.AppReportVo">
        select *
        from report
        <where>
            <if test="query != null and query.userId != null">
                and user_id = #{query.userId}
            </if>
            <if test="query != null and query.orderId != null">
                and order_id = #{query.orderId}
            </if>
            <if test="query != null and query.status != null">
                and status = #{query.status}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
