<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourth.medical.medical.mapper.SetmealDetailMapper">

    <select id="getSetmealDetailById" resultType="com.fourth.medical.medical.vo.SetmealDetailVo">
        select *
        from setmeal_detail
        where id = #{id}
    </select>

    <select id="getSetmealDetailPage" parameterType="com.fourth.medical.medical.query.SetmealDetailQuery"
            resultType="com.fourth.medical.medical.vo.SetmealDetailVo">
        select *
        from setmeal_detail
        <where>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="hospitalId != null">
                and hospital_id = #{hospitalId}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="packageType != null">
                and package_type = #{packageType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%') or description like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <select id="getAppSetmealDetailById" resultType="com.fourth.medical.medical.vo.AppSetmealDetailVo">
        select *
        from setmeal_detail
        where id = #{id}
    </select>

    <select id="getAppSetmealDetailPage" parameterType="com.fourth.medical.medical.query.AppSetmealDetailQuery"
            resultType="com.fourth.medical.medical.vo.AppSetmealDetailVo">
        select *
        from setmeal_detail
        <where>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="hospitalId != null">
                and hospital_id = #{hospitalId}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="packageType != null">
                and package_type = #{packageType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%') or description like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

</mapper>
